---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v1/ability/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 50, "next": "/api/v1/ability/?limit=50&offset=50",
        "offset": 0, "previous": null, "total_count": 248}, "objects": [{"created":
        "2013-11-03T15:05:59.481261", "description": "", "id": 1, "modified": "2013-11-03T15:05:59.481206",
        "name": "Stench", "resource_uri": "/api/v1/ability/1/"}, {"created": "2013-11-03T15:05:59.488571",
        "description": "", "id": 2, "modified": "2013-11-03T15:05:59.488514", "name":
        "Drizzle", "resource_uri": "/api/v1/ability/2/"}, {"created": "2013-11-03T15:05:59.494373",
        "description": "", "id": 3, "modified": "2013-11-03T15:05:59.494317", "name":
        "Speed-boost", "resource_uri": "/api/v1/ability/3/"}, {"created": "2013-11-03T15:05:59.496513",
        "description": "", "id": 4, "modified": "2013-11-0[...]
[...]
