---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v1/egg/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 50, "next": null, "offset": 0, "previous": null,
        "total_count": 15}, "objects": [{"created": "2013-11-03T19:27:16.212000",
        "id": 1, "modified": "2013-11-03T19:27:16.212000", "name": "Monster", "pokemon":
        [{"name": "Charmander", "resource_uri": "/api/v1/pokemon/4/"}, {"name": "Charmeleon",
        "resource_uri": "/api/v1/pokemon/5/"}, {"name": "Wartortle", "resource_uri":
        "/api/v1/pokemon/8/"}, {"name": "Blastoise", "resource_uri": "/api/v1/pokemon/9/"},
        {"name": "Nidoran-m", "resource_uri": "/api/v1/pokemon/32/"}, {"name": "Nidoran-f",
        "resource_uri": "/api/v1/pokemon/29/"}, {"name": "Nidorino", "resource_uri":
        "/api/v1/pokemon/33/"}, {"name": "Nidoking", "resource_uri": "/api/v1/pokemon/34/"},
      [...]
