---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v1/game/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 50, "next": null, "offset": 0, "previous": null,
        "total_count": 25}, "objects": [{"created": "2013-11-03T19:31:10.975452",
        "generation": 1, "id": 1, "modified": "2013-11-03T19:31:10.975393", "name":
        "Red(jpn)", "release_year": 1996, "resource_uri": "/api/v1/game/1/"}, {"created":
        "2013-11-03T19:31:20.720917", "generation": 1, "id": 2, "modified": "2013-11-03T19:31:20.720871",
        "name": "Green(jpn)", "release_year": 1996, "resource_uri": "/api/v1/game/2/"},
        {"created": "2013-11-03T19:31:43.658706", "generation": 1, "id": 3, "modified":
        "2013-11-03T19:31:43.658656", "name": "Blue(jpn)", "release_year": 1996, "resource_uri":
        "/api/v1/game/3/"}, {"created": "2013-11-03T19:31:51.827401", "generation":
    [...]
