---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v1/sprite/?limit=50&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 50, "next": "/api/v1/sprite/?limit=50&offset=50",
        "offset": 0, "previous": null, "total_count": 719}, "objects": [{"created":
        "2013-11-04T13:26:13.772349", "id": 1, "image": "/media/img/1383571573.78.png",
        "modified": "2013-11-04T13:26:13.772310", "name": "Bulbasaur_red_blue", "pokemon":
        {"name": "bulbasaur", "resource_uri": "/api/v1/pokemon/1/"}, "resource_uri":
        "/api/v1/sprite/1/"}, {"created": "2013-11-16T17:20:39.964632", "id": 2, "image":
        "/media/img/1.png", "modified": "2013-11-16T17:20:39.964589", "name": "Bulbasaur_auto",
        "pokemon": {"name": "bulbasaur", "resource_uri": "/api/v1/pokemon/1/"}, "resource_uri":
        "/api/v1/sprite/2/"}, {"created": "2013-11-16T17:20:39.971718", "id": 3, "image":
        "/media/img/2.png", "modified": "2013-11-16T17:20:39.971678", "name": "Ivysaur_a[...]
[...]
