---
http_interactions:
- request:
    method: get
    uri: http://pokeapi.co/api/v1/description?limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 50, "next": "/api/v1/description/?limit=50&offset=50",
        "offset": 0, "previous": null, "total_count": 6609}, "objects": [{"created":
        "2013-12-24T17:14:38.322623", "description": "The seed on its back is filled
        with nutrients. The seed grows steadily larger as its body grows.", "games":
        [{"name": "red", "resource_uri": "/api/v1/game/4/"}], "id": 4, "modified":
        "2014-01-18T14:29:52.996997", "name": "Bulbasaur_gen_1", "pokemon": {"name":
        "bulbasaur", "resource_uri": "/api/v1/pokemon/1/"}, "resource_uri": "/api/v1/description/4/"},
        {"created": "2013-12-24T17:14:38.333479", "description": "It carries a seed
        on its back right from birth. As it grows older, the seed also grows larger.",
        "games": [{"name": "blue", "resource_uri": "/api/v1/game/5/"}], "id": 5, "modified":
        "2014-01-18T14:29:53.001038", "name": "Bulbasaur_gen_1", "pokemon": {"name":
        "bulbasaur", "resource_uri": "[...]
[...]
